.container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    align-content: center;
    justify-content: center;
}

.file-image {
    width: 40%;
    aspect-ratio: 1;
}

.main {
    display: flex;
    gap: 10px;
}
