.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.icon-name {
    display: flex;
    word-break: break-all;
    gap: 8px;
    width: 80%;
}

.file-image {
    width: 1rem;
    aspect-ratio: 1;
}

.container button {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
}

.container button:hover::after {
    background-color: var(--primary-var);
}
